<!-- Meta -->
<meta charset="UTF-8">
<meta name="keywords" content="llm, llama, ollama">
<meta name="description" content="LLM Model Web UI">
<meta name="author" content="JA2PYC">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta http-equiv="Copyright" content="JA2PYC" />

<!-- JQuery -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<!-- Bootstrap -->
<link rel="stylesheet" href="/node_modules/bootstrap-icons/font/bootstrap-icons.css">

<!-- Base Style -->
<link rel="stylesheet" href="{{url_for('static', filename='css/base_style.css')}}">

<!-- Header -->
<link rel="stylesheet" href="{{url_for('static', filename='css/header.css')}}">

<!-- Footer -->
<link rel="stylesheet" href="{{url_for('static', filename='css/footer.css')}}">