<!DOCTYPE html>
<html lang="ko">

<head>
    <title>LLMaquarium Dashboard</title>
    {% include '/partials/head_script.html' %}

    <!-- Page Style -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
</head>

<body>
    {% include '/partials/header.html' %}
    <main>
        {% include '/partials/aside.html' %}
        <div class="main_container">
            <div class="main_title">
                <h1>LLMaquarium Dashboard</h1>
            </div>
            <div class="main_llm">
                <div class="llm_model">
                    <div class="model_select"></div>
                    div.model
                </div>
                <div class="llm_chat">
                    <label for="chat_input">LLM Chat</label>
                    <textarea name="chat_input" id="chat_input" cols="100" rows="10"></textarea>
                </div>
            </div>
            <p><a href="/api/data">API 데이터 가져오기 / API DATA</a></p>
            <p><a href="/model/predict">AI 모델 예측 실행</a></p>
        </div>
    </main>
    {% include '/partials/footer.html' %}
</body>

</html>